@import "tailwindcss";

@theme static {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* colors */
    --color-light: #edf0f7;
    --color-mid: #a0abc0;
    --color-dark: #2d3648;

    /* intents */
    --color-text: var(--color-mid);
    --color-button-bg: var(--color-light);
    --color-button-text: var(--color-dark);
    --color-header-bg: var(--color-dark);

    /* FIXME: idk why this isn't showing up by default */
    --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

    --color-background: var(--color-zinc-50);
    --color-background-dark: var(--color-zinc-900);

    --color-border: var(--color-zinc-300);
    --color-border-dark: var(--color-zinc-700);

    --color-input-bg: var(--color-white);
    --color-input-bg-dark: var(--color-zinc-800);

    --color-button-text: var(--color-zinc-100);
    --color-button-text-dark: var(--color-zinc-900);

    --color-button-bg: var(--color-zinc-900);
    --color-button-bg-dark: var(--color-zinc-100);

    --color-button-border: var(--color-zinc-900);
    --color-button-border-dark: var(--color-zinc-100);

    --color-button-active: var(--color-zinc-800);
    --color-button-active-dark: var(--color-zinc-200);
}

@layer base {
    html {
        width: 100%;
        min-height: 100vh;
        background-color: var(--color-background);
        padding: --spacing(10) --spacing(14);

        @media (prefers-color-scheme: dark) {
            background-color: var(--color-background-dark);
        }
    }

    h1 {
        font-size: var(--text-2xl);
        line-height: var(--text-2xl--line-height);
        font-weight: var(--font-weight-semibold);
        margin-bottom: --spacing(8);

        @media (prefers-color-scheme: dark) {
            color: var(--color-gray-100);
        }
    }
}

@layer components {
    form {
        display: flex;
        flex-direction: column;
        gap: --spacing(4);

        & div:has(label + :is(input, textarea)) {
            display: flex;
            flex-direction: column;
            gap: --spacing(1);
        }
    }

    label {
        @media (prefers-color-scheme: dark) {
            color: var(--color-zinc-100);
        }
    }

    input,
    textarea {
        background-color: var(--color-input-bg);
        border: 1px solid var(--color-border);
        border-radius: var(--radius-sm);
        padding: --spacing(1) --spacing(2);
        /* box-shadow: var(--shadow-inner); */

        @media (prefers-color-scheme: dark) {
            background-color: var(--color-input-bg-dark);
            border-color: var(--color-border-dark);
            color: var(--color-zinc-100);
        }
    }

    button {
        color: var(--color-button-text);
        background-color: var(--color-button-bg);
        border-color: var(--color-button-border);
        border-width: 1px;
        border-radius: var(--radius-lg);
        padding: --spacing(2) --spacing(3);
        place-items: center;
        place-content: center;
        display: flex;
        cursor: pointer;

        @media (prefers-color-scheme: dark) {
            color: var(--color-button-text-dark);
            background-color: var(--color-button-bg-dark);
            border-color: var(--color-button-border-dark);
        }

        &:active {
            background-color: var(--color-button-active);
            transform: translateY(1px);
            box-shadow: var(--shadow-inner);

            @media (prefers-color-scheme: dark) {
                background-color: var(--color-button-active-dark);
            }
        }
    }
}
